/*
* Moira Smith
* November 8, 2018
* Meta Data Classwork
*/

/* The universal selector */

* {

}

/* style for body */
body {
    font-family: sans-serif;
        background-color: darkgray
}
/* style for h1 */
    h1 {font-size: 250%; 
        font-family:serif;
        text-align: center;
        text-decoration: overline underline;
        background color: lightgreen;
         }

/* style for p */
p {background-color: white;
    color: blue;}
/* details for images */
#trail {width:300px; height: 200px;
    float:left;}
#grandcanyon {width:200px; height:300px;
    float:left;}
footer {  
    background-color: lightpink;
        color: black;
}